<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{location?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="location.img_url" />
    <ion-card-header>
      <ion-card-title>{{location.type}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <div *ngIf="location.inhabitants?.length > 0">
          <b>Inhabitants</b>
          <li *ngFor="let a of location.inhabitants">{{ a }}</li>
        </div>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let c of location.notable_residents">
        <ion-card (click)="goToCharacter(c.id)">
          <img [src]="c.img_url" />
          <ion-card-header>
            <ion-card-subtitle>{{c.name}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
